{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "upgrading_policy": "parallel",
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
        "role":"login",
        "os_reset": false,
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-u0h5mxfw"
        },
        "net": {
            "vxnet": true,
            "ib": true,
            "base": false
        },
        "instance_class": {{cluster.login.instance_class}},
        "nas_mount_point": {{cluster.login.nas_mount_point}},
        "cpu": {{cluster.login.cpu}},
        "cpu_model": {{cluster.login.cpu_model}},
        "memory": {{cluster.login.memory}},
        "count": {{cluster.login.count}},
        "services": {
            "init": {
                "cmd": "appctl init"
            }
        }
    }, {
        "role":"controller",
        "os_reset": false,
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-u0h5mxfw"
        },
        "net": {
            "vxnet": false,
            "ib": true,
            "base": false
        },
        "instance_class": {{cluster.controller.instance_class}},
        "nas_mount_point": {{cluster.login.nas_mount_point}},
        "count": {{cluster.controller.count}},
        "cpu": {{cluster.controller.cpu}},
        "cpu_model": {{cluster.controller.cpu_model}},
        "memory": {{cluster.controller.memory}},
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 1
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 2
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 1
            }
        }
    },{
        "role":"compute",
        "os_reset": false,
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-u0h5mxfw"
        },
        "net": {
            "vxnet": false,
            "ib": true,
            "base": false
        },
        "instance_class": {{cluster.compute.instance_class}},
        "nas_mount_point": {{cluster.login.nas_mount_point}},
        "count": {{cluster.compute.count}},
        "cpu": {{cluster.compute.cpu}},
        "cpu_model": {{cluster.compute.cpu_model}},
        "memory": {{cluster.compute.memory}},
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 2
            },
            "stop": {
                "cmd": "appctl start",
                "order": 1
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 2
            }
        },
        "vertical_scaling_policy": "parallel"
    }],
    "env": {
        "replica.lag.time.max.ms": {{env.replica.lag.time.max.ms}}
    }
}
