{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "multi_zone_policy": "round_robin",
    "upgrade_policy": [],
    "upgrading_policy": "parallel",
    "nodes": [{
        "role":"login",
        "container": {
            "type": "kvm",
            "zone": "sh1",
            "image": "img-2stnzpq9"
        },
        "instance_class": {{cluster.login.instance_class}},
        "cpu": {{cluster.login.cpu}},
        "memory": {{cluster.login.memory}},
        "count": {{cluster.login.count}},
        "services": {
            "init": {
                "cmd": "appctl init"
            }
        }
    }, {
        "role":"controller",
        "container": {
            "type": "kvm",
            "zone": "sh1",
            "image": "img-viousfhl"
        },
        "instance_class": {{cluster.controller.instance_class}},
        "count": {{cluster.controller.count}},
        "cpu": {{cluster.controller.cpu}},
        "memory": {{cluster.controller.memory}},
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 1
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 2
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 1
            }
        }
    },{
        "role":"compute",
        "container": {
            "type": "kvm",
            "zone": "sh1",
            "image": "img-2stnzpq9"
        },
        "instance_class": {{cluster.compute.instance_class}},
        "count": {{cluster.compute.count}},
        "cpu": {{cluster.compute.cpu}},
        "memory": {{cluster.compute.memory}},
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 2
            },
            "stop": {
                "cmd": "appctl start",
                "order": 1
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 2
            }
        },
        "vertical_scaling_policy": "sequential"
    }],
    "env": {
        "replica.lag.time.max.ms": {{env.replica.lag.time.max.ms}},
        "cluster_name": {{cluster.name}}
    }
}
