{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "upgrading_policy": "parallel",
    "nodes": [{
        "role":"login",
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-1a6wthif"
        },
        "instance_class": {{cluster.login.instance_class}},
        "cpu": {{cluster.login.cpu}},
        "cpu_model": {{cluster.login.cpu_model}},
        "memory": {{cluster.login.memory}},
        "count": {{cluster.login.count}},
        "services": {
            "init": {
                "cmd": "appctl init"
            }
        }
    }, {
        "role":"controller",
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-edm5cjek"
        },
        "instance_class": {{cluster.controller.instance_class}},
        "count": {{cluster.controller.count}},
        "cpu": {{cluster.controller.cpu}},
        "cpu_model": {{cluster.controller.cpu_model}},
        "memory": {{cluster.controller.memory}},
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 1
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 2
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 1
            }
        }
    },{
        "role":"compute",
        "container": {
            "type": "kvm",
            "zone": "ehpc",
            "image": "img-1a6wthif"
        },
        "instance_class": {{cluster.compute.instance_class}},
        "count": {{cluster.compute.count}},
        "cpu": {{cluster.compute.cpu}},
        "cpu_model": {{cluster.compute.cpu_model}},
        "memory": {{cluster.compute.memory}},
        "volume": {
            "size": {{cluster.compute.volume_size}},
            "mount_point":  "/data",
            "class": {{cluster.compute.volume_class}}
        },
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start",
                "order": 2
            },
            "stop": {
                "cmd": "appctl start",
                "order": 1
            },
            "restart": {
               "cmd": "appctl restart",
               "order": 2
            }
        },
        "vertical_scaling_policy": "parallel"
    }],
    "env": {
        "replica.lag.time.max.ms": {{env.replica.lag.time.max.ms}}
    }
}
