{
    "cluster_name": "{{getv "/cluster/cluster_id"}}",
    "sid": "{{getv "/host/sid"}}",
    "sids": "{{range $dir := lsdir "/hosts/compute/"}}{{$sid := printf "/hosts/compute/%s/sid" $dir}}{{getv $sid}},{{end}}",
    "role": "{{getv "/host/role"}}",
    "admin_user": "{{getv "/env/admin_user"}}",
    "admin_uid": "{{getv "/env/admin_user_id"}}",
    "admin_password": "{{getv "/env/admin_password"}}",
    "admin_gid": "{{getv "/env/admin_group_id"}}",
    "nas_path": "{{getv "/env/nas_path"}}"
}
