{
    "cluster_name": "{{getv "/cluster/cluster_id"}}",
    "app_version": "{{getv "/cluster/app_version"}}",
    "sid": "{{getv "/host/sid"}}",
    "role": "{{getv "/host/role"}}",
    "user": "{{getv "/env/user"}}",
    "uid": "{{getv "/env/user_id"}}",
    "password": "{{getv "/env/password"}}",
    "gid": "{{getv "/env/group_id"}}",
    "nas_path": "{{getv "/env/nas_path"}}",
    "nas_mount_point": "{{getv "/env/nas_mount_point"}}"
}
