{{range $dir := lsdir "/hosts/controller/"}}{{$cpu := printf "/hosts/controller/%s/cpu" $dir}}{{$mem := printf "/hosts/controller/%s/memory" $dir}}CPUs={{getv $cpu}} RealMemory={{sub (getv $mem) 512}} Procs={{getv $cpu}} State=UNKNOWN
{{end}}

{{range $dir := lsdir "/hosts/compute/"}}{{$cpu := printf "/hosts/compute/%s/cpu" $dir}}{{$mem := printf "/hosts/compute/%s/memory" $dir}}
CPUs={{getv $cpu}} RealMemory={{sub (getv $mem) 512}} Procs={{getv $cpu}} State=UNKNOWN{{end}}